li {
  padding: 5px;
  margin: 5px;
  /*background: #faebd7;*/
}


h1 {
	text-align: center;
}

body {
   background: url("../images/b3.gif");
   background-position: center; 
   background-repeat:   no-repeat;
 }

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  /*background: aqua;*/
}

.form-group {
  margin-bottom: 5px;
}
